* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.navbar {
  display: flex;
}

.nav-item {
  display: flex;
  list-style: none;
  list-style-position: inside;
  font-weight: 500;
  font-size: 2rem;
  gap: 3rem;
}
