* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.navbar {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.contianer {
  max-width: 1280px;
  margin: auto;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.nav-item {
  align-items: center;
  display: flex;
  list-style: none;
  list-style-position: inside;
  font-weight: 500;
  font-size: 1rem;
  gap: 2rem;
}

.nav-item li {
  padding: 1rem 2rem;
  cursor: pointer;
}

.nav-item li:hover {
  background: #46eefa;
}
